In [286]:
import pandas as pd

In [287]:
df = pd.read_csv("ball_by_ball_it20.csv")
df

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1
1,1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,...,South Africa,1,1,1,1,1,NaN,NaN,1,1
2,2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,...,South Africa,1,0,1,0,1,1.0,2.0,0,1
3,3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,...,South Africa,1,0,1,1,1,NaN,NaN,0,1
4,4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,...,South Africa,1,4,1,2,1,NaN,NaN,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425114,425114,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,2,TK Curran,...,New Zealand,0,11,2,9,2,NaN,NaN,0,1
425115,425115,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,3,TK Curran,...,New Zealand,0,12,2,10,2,NaN,NaN,1,1
425116,425116,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,4,S Mahmood,...,New Zealand,0,2,12,3,10,NaN,NaN,0,1
425117,425117,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,5,S Mahmood,...,New Zealand,0,3,12,4,10,NaN,NaN,1,1
425118,425118,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,6,TK Curran,...,New Zealand,0,14,3,11,4,NaN,NaN,2,1

In [288]:
df.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [289]:
df.nunique()

Unnamed: 0                 425119
Match ID                     1842
Date                         1115
Venue                         183
Bat First                      96
Bat Second                     95
Innings                         2
Over                           20
Ball                            8
Batter                       2899
Non Striker                  2854
Bowler                       2156
Batter Runs                     8
Extra Runs                      7
Runs From Ball                  9
Ball Rebowled                   2
Extra Type                     10
Wicket                          2
Method                         12
Player Out                   2683
Innings Runs                  267
Innings Wickets                12
Target Score                  212
Runs to Get                   295
Balls Remaining               122
Winner                         89
Chased Successfully             2
Total Batter Runs             160
Total Non Striker Runs        143
Batter Balls Faced             77
Non Striker Balls Faced        73
Player Out Runs               123
Player Out Balls Faced         69
Bowler Runs Conceded            9
Valid Ball                      2
dtype: int64

In [290]:
df["Match ID"].nunique()

1842

In [291]:
df.sort_values(by="Date")

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
23338,23338,211048,2005-02-17,Eden Park,Australia,New Zealand,1,9,6,RT Ponting,...,Australia,0,23,8,19,10,NaN,NaN,1,1
23371,23371,211048,2005-02-17,Eden Park,Australia,New Zealand,1,15,3,SM Katich,...,Australia,0,0,54,0,37,30.0,25.0,0,1
23370,23370,211048,2005-02-17,Eden Park,Australia,New Zealand,1,15,2,SM Katich,...,Australia,0,30,54,24,37,NaN,NaN,2,1
23369,23369,211048,2005-02-17,Eden Park,Australia,New Zealand,1,15,1,RT Ponting,...,Australia,0,54,28,37,23,NaN,NaN,1,1
23368,23368,211048,2005-02-17,Eden Park,Australia,New Zealand,1,14,6,RT Ponting,...,Australia,0,53,28,36,23,NaN,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244387,244387,1393328,2023-08-22,Gahanga International Cricket Stadium,Rwanda,Tanzania,2,4,1,II Selemani,...,Tanzania,1,10,24,12,9,NaN,NaN,0,1
244386,244386,1393328,2023-08-22,Gahanga International Cricket Stadium,Rwanda,Tanzania,2,3,6,AR Patwa,...,Tanzania,1,24,10,9,11,NaN,NaN,4,1
244385,244385,1393328,2023-08-22,Gahanga International Cricket Stadium,Rwanda,Tanzania,2,3,5,AR Patwa,...,Tanzania,1,20,10,8,11,NaN,NaN,6,1
244412,244412,1393328,2023-08-22,Gahanga International Cricket Stadium,Rwanda,Tanzania,2,7,6,II Selemani,...,Tanzania,1,50,36,28,17,NaN,NaN,1,1
260233,260233,1393312,2023-08-22,Gahanga International Cricket Stadium,Uganda,Rwanda,2,16,2,M Akayezu,...,Uganda,0,7,4,7,2,NaN,NaN,4,1

### Recent Match Played By Batters

In [292]:
# Convert 'Date' column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Find the most recent match for each player
recent_matches = df.sort_values('Date').groupby('Batter').tail(1)

# Display the resulting DataFrame
recent_matches_by_batter_df = pd.DataFrame(recent_matches[['Batter', 'Match ID', 'Date']])
recent_matches_by_batter_df

               Batter  Match ID       Date
23470       CL Cairns    211048 2005-02-17
23518       JW Wilson    211048 2005-02-17
66081      GD McGrath    211028 2005-06-13
66070   MS Kasprowicz    211028 2005-06-13
66040    JN Gillespie    211028 2005-06-13
...               ...       ...        ...
244360     E Sebareme   1393328 2023-08-22
244357  C Rububagumya   1393328 2023-08-22
244385       AR Patwa   1393328 2023-08-22
244412    II Selemani   1393328 2023-08-22
260233      M Akayezu   1393312 2023-08-22

[2899 rows x 3 columns]

### Recent Matches By Bowler

In [293]:
# Recent Matches by Bowler

#Find the most recent match for each player
recent_matches = df.sort_values('Date').groupby('Bowler').tail(1)

# Display the resulting DataFrame
recent_matches_by_Bowler_df = pd.DataFrame(recent_matches[['Bowler', 'Match ID', 'Date']])
recent_matches_by_Bowler_df

               Bowler  Match ID       Date
23339       JW Wilson    211048 2005-02-17
23321       CL Cairns    211048 2005-02-17
65913   MS Kasprowicz    211028 2005-06-13
65992    JN Gillespie    211028 2005-06-13
65990      GD McGrath    211028 2005-06-13
...               ...       ...        ...
244394      K Irakoze   1393328 2023-08-22
244387  C Rububagumya   1393328 2023-08-22
244385      M Akayezu   1393328 2023-08-22
244412     E Rukiriza   1393328 2023-08-22
260233       B Masaba   1393312 2023-08-22

[2156 rows x 3 columns]

### Calculating Number Of Macthes by each Team

In [294]:
matches_with_batfirst = df.groupby('Bat First')['Match ID'].nunique()
matches_with_batfirst_df = matches_with_batfirst.reset_index()
matches_with_batfirst_df.rename(columns={'Match ID': 'matches_played'}, inplace=True)

matches_with_bowlFirst = df.groupby('Bat Second')['Match ID'].nunique()
matches_with_bowlFirst_df = matches_with_bowlFirst.reset_index()
matches_with_bowlFirst_df.rename(columns={'Match ID': 'matches_played'}, inplace=True)


matches_with_bowlFirst_df.sort_values(by="matches_played", ascending=False)
print(matches_with_bowlFirst_df.sort_values(by="matches_played", ascending=False))

     Bat Second  matches_played
63     Pakistan              97
2     Australia              95
93  West Indies              91
22      England              90
37        India              86
..          ...             ...
83    St Helena               1
41       Israel               1
52         Mali               1
43        Japan               1
71        Samoa               1

[95 rows x 2 columns]

In [295]:
# Perform an inner join on the 'ID1' column in df1 and 'ID2' column in df2
Matches_perTeam = pd.merge(matches_with_batfirst_df, matches_with_bowlFirst_df, left_on='Bat First', right_on='Bat Second', how='inner')
Matches_perTeam

,Bat First,matches_played_x,Bat Second,matches_played_y
0,Afghanistan,64,Afghanistan,45
1,Argentina,6,Argentina,4
2,Australia,69,Australia,95
3,Austria,14,Austria,8
4,Bahamas,4,Bahamas,5
...,...,...,...,...
89,United Arab Emirates,40,United Arab Emirates,30
90,United States of America,5,United States of America,12
91,Vanuatu,10,Vanuatu,10
92,West Indies,77,West Indies,91
93,Zimbabwe,60,Zimbabwe,55

In [296]:
Matches_perTeam["Total"] = Matches_perTeam["matches_played_x"] + Matches_perTeam["matches_played_y"]
Matches_perTeam

,Bat First,matches_played_x,Bat Second,matches_played_y,Total
0,Afghanistan,64,Afghanistan,45,109
1,Argentina,6,Argentina,4,10
2,Australia,69,Australia,95,164
3,Austria,14,Austria,8,22
4,Bahamas,4,Bahamas,5,9
...,...,...,...,...,...
89,United Arab Emirates,40,United Arab Emirates,30,70
90,United States of America,5,United States of America,12,17
91,Vanuatu,10,Vanuatu,10,20
92,West Indies,77,West Indies,91,168
93,Zimbabwe,60,Zimbabwe,55,115

In [297]:
Matches_perTeam.drop(["matches_played_x", "matches_played_y", "Bat Second"], axis=1, inplace=True)
Matches_perTeam

                   Bat First  Total
0                Afghanistan    109
1                  Argentina     10
2                  Australia    164
3                    Austria     22
4                    Bahamas      9
..                       ...    ...
89      United Arab Emirates     70
90  United States of America     17
91                   Vanuatu     20
92               West Indies    168
93                  Zimbabwe    115

[94 rows x 2 columns]

In [298]:
Matches_perTeam.rename(columns={'Bat First': 'Team Name'}, inplace=True)
Matches_perTeam

                   Team Name  Total
0                Afghanistan    109
1                  Argentina     10
2                  Australia    164
3                    Austria     22
4                    Bahamas      9
..                       ...    ...
89      United Arab Emirates     70
90  United States of America     17
91                   Vanuatu     20
92               West Indies    168
93                  Zimbabwe    115

[94 rows x 2 columns]

In [299]:
Matches_perTeam.sort_values(by="Total", ascending=False)

      Team Name  Total
62     Pakistan    208
36        India    192
58  New Zealand    179
92  West Indies    168
81    Sri Lanka    168
..          ...    ...
16        China      4
54      Myanmar      4
82    St Helena      3
40       Israel      3
79  South Korea      3

[94 rows x 2 columns]

### Pakistan Team Batsman's Statistics

In [300]:
df["Batter"]

0           BA King
1         KR Mayers
2           BA King
3         J Charles
4         J Charles
            ...
425114    TK Curran
425115    TK Curran
425116    S Mahmood
425117    S Mahmood
425118    TK Curran
Name: Batter, Length: 425119, dtype: object

In [301]:
Batsman_Matches_Played = df.groupby('Batter')['Match ID'].nunique()
Batsman_Matches_Played_df = Batsman_Matches_Played.reset_index()
Batsman_Matches_Played_df.rename(columns={'Match ID': 'Matches_played'}, inplace=True)

Batsman_Matches_Played_df.sort_values(by="Matches_played", ascending=False)

               Batter  Matches_played
2127        RG Sharma             133
2027      PR Stirling             117
1598       MJ Guptill             109
2499  Shakib Al Hasan             107
1670      Mahmudullah             106
...               ...             ...
1934         OP Stone               1
941            H Gori               1
931     Gershon Yusuf               1
1447            L Nou               1
1220     JJ Celestine               1

[2899 rows x 2 columns]

In [302]:
# batter when Pakistan bats first and Innings 1
list(df[(df['Bat First'] == 'Pakistan') & (df['Innings'] == 1)]["Batter"])
# batter when Pakistan bats second and Innings 2
list(df[(df['Bat Second'] == 'Pakistan') & (df['Innings'] == 2)]["Batter"])

# merge both lists
list_PAK_Batsmans=list(set(list(df[(df['Bat First'] == 'Pakistan') & (df['Innings'] == 1)]["Batter"]) + list(df[(df['Bat Second'] == 'Pakistan') & (df['Innings'] == 2)]["Batter"])))

In [362]:
# bowler when Pakistan bats second and Innings 1
list(df[(df['Bat Second'] == 'Pakistan') & (df['Innings'] == 1)]["Bowler"])
# bowler when Pakistan bats first and Innings 2
list(df[(df['Bat First'] == 'Pakistan') & (df['Innings'] == 2)]["Bowler"])

# merge both lists
list_PAK_bowlers=list(set(list(df[(df['Bat Second'] == 'Pakistan') & (df['Innings'] == 1)]["Bowler"]) + list(df[(df['Bat First'] == 'Pakistan') & (df['Innings'] == 2)]["Bowler"])))

In [363]:
list_PAK_bowlers

['Imran Khan (1)',
 'Wahab Riaz',
 'Mohammad Nawaz (3)',
 'Abdul Razzaq',
 'Yasir Arafat',
 'Mohammad Sami',
 'Sohail Tanvir',
 'Naseem Shah',
 'Raza Hasan',
 'Zaman Khan',
 'Shahnawaz Dhani',
 'Aamer Jamal',
 'Imad Wasim',
 'Aamer Yamin',
 'Mohammad Hafeez',
 'Mohammad Asif',
 'Shaheen Shah Afridi',
 'Waqas Maqsood',
 'Iftikhar Anjum',
 'Shadab Khan',
 'Mohammad Nawaz',
 'Saeed Ajmal',
 'Zulfiqar Babar',
 'Younis Khan',
 'Saad Nasim',
 'Shoaib Malik',
 'Yasir Shah',
 'Hasan Ali',
 'Arshad Iqbal',
 'Anwar Ali',
 'Shoaib Akhtar',
 'Umar Gul',
 'Fawad Alam',
 'Fakhar Zaman',
 'Aizaz Cheema',
 'Mansoor Amjad',
 'Ihsanullah',
 'Usman Qadir',
 'Sohail Khan',
 'Mohammad Amir',
 'Zahid Mahmood',
 'Muhammad Musa',
 'Mohammad Irfan',
 'Sohaib Maqsood',
 'Asad Ali',
 'Naved-ul-Hasan',
 'Abdur Rehman',
 'Iftikhar Ahmed',
 'Haris Rauf',
 'Hussain Talat',
 'Rumman Raees',
 'Junaid Khan',
 'Usman Shinwari',
 'Mohammad Hasnain',
 'Shahid Afridi',
 'Danish Aziz',
 'Tanvir Ahmed',
 'Ahmed Shehzad',
 'Mohammad Wasim',
 'Faheem Ashraf',
 'Bilawal Bhatti',
 'Khushdil Shah']

In [303]:
list_PAK_Batsmans

['Abdul Razzaq',
 'Wahab Riaz',
 'Mohammad Nawaz (3)',
 'Sarfraz Ahmed',
 'Awais Zia',
 'Aamer Jamal',
 'Sahibzada Farhan',
 'Aamer Yamin',
 'Salman Butt',
 'Inzamam-ul-Haq',
 'Mukhtar Ahmed',
 'Shadab Khan',
 'Saad Nasim',
 'Younis Khan',
 'Mohammad Yousuf',
 'Rameez Raja (2)',
 'Imran Nazir',
 'Arshad Iqbal',
 'Fawad Alam',
 'Zulqarnain Haider',
 'Sohaib Maqsood',
 'Mohammad Irfan',
 'Shan Masood',
 'Hussain Talat',
 'Rafatullah Mohmand',
 'Imran Farhat',
 'Bilawal Bhatti',
 'Shakeel Ansar',
 'Raza Hasan',
 'Tayyab Tahir',
 'Mohammad Hafeez',
 'Mohammad Asif',
 'Shaheen Shah Afridi',
 'Shoaib Malik',
 'Mohammad Amir',
 'Naved-ul-Hasan',
 'Iftikhar Ahmed',
 'Mohammad Haris',
 'Mohammad Hasnain',
 'Haris Sohail',
 'Khalid Latif',
 'Sohail Khan',
 'Imran Khan (1)',
 'Mohammad Sami',
 'Yasir Arafat',
 'Ahsan Ali',
 'Sohail Tanvir',
 'Umar Amin',
 'Zaman Khan',
 'Babar Azam',
 'Hammad Azam',
 'Umar Akmal',
 'Azam Khan',
 'Nauman Anwar',
 'Imam-ul-Haq',
 'Khurram Manzoor',
 'Abdullah Shafique',
 'Fakhar Zaman',
 'Ihsanullah',
 'Usman Qadir',
 'Kamran Akmal',
 'Shoaib Khan jnr',
 'Haris Rauf',
 'Junaid Khan',
 'Shahid Afridi',
 'Mohammad Wasim',
 'Faheem Ashraf',
 'Khushdil Shah',
 'Saim Ayub',
 'Mohammad Salman',
 'Naseem Shah',
 'Shahnawaz Dhani',
 'Imad Wasim',
 'Misbah-ul-Haq',
 'Mohammad Nawaz',
 'Saeed Ajmal',
 'Zulfiqar Babar',
 'Asad Shafiq',
 'Haider Ali',
 'Yasir Shah',
 'Hasan Ali',
 'Shoaib Akhtar',
 'Anwar Ali',
 'Umar Gul',
 'Aizaz Cheema',
 'Shahzaib Hasan',
 'Asif Ali',
 'Mohammad Rizwan',
 'Sharjeel Khan',
 'Nasir Jamshed',
 'Abdur Rehman',
 'Usman Shinwari',
 'Danish Aziz',
 'Ahmed Shehzad']

In [304]:
len(list_PAK_Batsmans)

94

In [305]:
# matcher played by PAK batsman
matches_by_PAK_Batsman = Batsman_Matches_Played_df[Batsman_Matches_Played_df["Batter"].isin(list_PAK_Batsmans)]
matches_by_PAK_Batsman=matches_by_PAK_Batsman.sort_values(by="Matches_played", ascending=False)

In [306]:
matches_by_PAK_Batsman

               Batter  Matches_played
2520     Shoaib Malik             104
1710  Mohammad Hafeez             102
469        Babar Azam              97
2487    Shahid Afridi              88
2696       Umar Akmal              74
...               ...             ...
2497    Shakeel Ansar               1
2492  Shahnawaz Dhani               1
205       Aamer Yamin               1
1726  Mohammad Salman               1
204       Aamer Jamal               1

[94 rows x 2 columns]

In [307]:
# Total Runs By Pak Batsman
Total_Runs_by_PAK_Batsman = df.groupby('Batter')['Batter Runs'].sum()
Total_Runs_by_PAK_Batsman_df = Total_Runs_by_PAK_Batsman.reset_index()
Total_Runs_by_PAK_Batsman_df.rename(columns={'Batter Runs': 'Total Runs'}, inplace=True)
Total_Runs_by_PAK_Batsman_df = Total_Runs_by_PAK_Batsman_df[Total_Runs_by_PAK_Batsman_df["Batter"].isin(list_PAK_Batsmans)]
Total_Runs_by_PAK_Batsman_df.sort_values(by="Total Runs", ascending=False)

               Batter  Total Runs
469        Babar Azam        3426
1724  Mohammad Rizwan        2742
1710  Mohammad Hafeez        2407
2520     Shoaib Malik        2266
2696       Umar Akmal        1546
...               ...         ...
1885   Naved-ul-Hasan           1
1095   Imran Khan (1)           0
2497    Shakeel Ansar           0
346      Arshad Iqbal           0
270      Aizaz Cheema           0

[94 rows x 2 columns]

In [308]:
# Total Ball Faced By each PAK batsman
Total_Ball_Faced_by_PAK_Batsman = df.groupby('Batter')['Ball'].count()
Total_Ball_Faced_by_PAK_Batsman_df = Total_Ball_Faced_by_PAK_Batsman.reset_index()
Total_Ball_Faced_by_PAK_Batsman_df.rename(columns={'Ball': 'Total Ball Faced'}, inplace=True)
Total_Ball_Faced_by_PAK_Batsman_df = Total_Ball_Faced_by_PAK_Batsman_df[Total_Ball_Faced_by_PAK_Batsman_df["Batter"].isin(list_PAK_Batsmans)]
Total_Ball_Faced_by_PAK_Batsman_df.sort_values(by="Total Ball Faced", ascending=False)

               Batter  Total Ball Faced
469        Babar Azam              2755
1724  Mohammad Rizwan              2203
1710  Mohammad Hafeez              1996
2520     Shoaib Malik              1837
2696       Umar Akmal              1297
...               ...               ...
270      Aizaz Cheema                 3
1095   Imran Khan (1)                 1
2537      Sohail Khan                 1
2497    Shakeel Ansar                 1
346      Arshad Iqbal                 1

[94 rows x 2 columns]

In [309]:
# Calculate How Much Time batsman got out
player_out=dict(df['Player Out'].value_counts())
player_out_df = pd.DataFrame.from_dict(player_out, orient='index').reset_index()
player_out_df.rename(columns={'index': 'Batter', 'Player Out': 'Total'}, inplace=True)
player_out_df.rename(columns={ 0 : 'Number_Times_Out'}, inplace=True)
PAK_player_out_df = player_out_df[player_out_df["Batter"].isin(list_PAK_Batsmans)]
PAK_player_out_df.sort_values(by="Number_Times_Out", ascending=False)

               Batter  Number_Times_Out
4     Mohammad Hafeez                89
8          Babar Azam                84
13      Shahid Afridi                77
16       Shoaib Malik                72
26       Fakhar Zaman                65
...               ...               ...
2398      Aamer Jamal                 1
2406    Mohammad Sami                 1
2420  Shahnawaz Dhani                 1
2485   Naved-ul-Hasan                 1
2563       Ihsanullah                 1

[83 rows x 2 columns]

In [310]:
# Find players who are not in PAK_player_out_df
players_not_in_df = set(list_PAK_Batsmans) - set(PAK_player_out_df["Batter"])

# Create a DataFrame for missing players and set the number of times out to 0
missing_players_df = pd.DataFrame({"Batter": list(players_not_in_df), "Number_Times_Out": 0})

# Append missing players to PAK_player_out_df
PAK_player_out_df = pd.concat([PAK_player_out_df, missing_players_df], ignore_index=True, sort=False)
PAK_player_out_df = PAK_player_out_df.sort_values(by="Number_Times_Out", ascending=False).reset_index(drop=True)
PAK_player_out_df

             Batter  Number_Times_Out
0   Mohammad Hafeez                89
1        Babar Azam                84
2     Shahid Afridi                77
3      Shoaib Malik                72
4      Fakhar Zaman                65
..              ...               ...
89       Raza Hasan                 0
90   Mohammad Irfan                 0
91       Zaman Khan                 0
92       Yasir Shah                 0
93      Sohail Khan                 0

[94 rows x 2 columns]

In [311]:
# Merge All  DataFrames on Batter
PAK_Batsman_Stats_df = pd.merge(Total_Runs_by_PAK_Batsman_df, Total_Ball_Faced_by_PAK_Batsman_df, on='Batter')
PAK_Batsman_Stats_df = pd.merge(PAK_Batsman_Stats_df, matches_by_PAK_Batsman, on='Batter')
PAK_Batsman_Stats_df = pd.merge(PAK_Batsman_Stats_df, PAK_player_out_df, on='Batter')
PAK_Batsman_Stats_df

,Batter,Total Runs,Total Ball Faced,Matches_played,Number_Times_Out
0,Aamer Jamal,10,7,1,1
1,Aamer Yamin,15,6,1,0
2,Abdul Razzaq,381,337,27,18
3,Abdullah Shafique,64,55,6,5
4,Abdur Rehman,18,24,4,2
...,...,...,...,...,...
89,Yasir Shah,11,7,1,0
90,Younis Khan,426,339,20,17
91,Zaman Khan,8,10,2,0
92,Zulfiqar Babar,27,28,3,0
93,Zulqarnain Haider,26,35,5,4

In [312]:
PAK_Batsman_Stats_df["Scoring AVG"] = round(PAK_Batsman_Stats_df["Total Runs"] / PAK_Batsman_Stats_df["Number_Times_Out"], 2)
PAK_Batsman_Stats_df["STRIKE_RATE"] = round((PAK_Batsman_Stats_df["Total Runs"] / PAK_Batsman_Stats_df["Total Ball Faced"]) * 100, 2)
PAK_Batsman_Stats_df

,Batter,Total Runs,Total Ball Faced,Matches_played,Number_Times_Out,Scoring AVG,STRIKE_RATE
0,Aamer Jamal,10,7,1,1,10.00,142.86
1,Aamer Yamin,15,6,1,0,inf,250.00
2,Abdul Razzaq,381,337,27,18,21.17,113.06
3,Abdullah Shafique,64,55,6,5,12.80,116.36
4,Abdur Rehman,18,24,4,2,9.00,75.00
...,...,...,...,...,...,...,...
89,Yasir Shah,11,7,1,0,inf,157.14
90,Younis Khan,426,339,20,17,25.06,125.66
91,Zaman Khan,8,10,2,0,inf,80.00
92,Zulfiqar Babar,27,28,3,0,inf,96.43
93,Zulqarnain Haider,26,35,5,4,6.50,74.29

In [313]:
# show stats of Babar Azam
PAK_Batsman_Stats_df[PAK_Batsman_Stats_df["Batter"] == "Babar Azam"]

,Batter,Total Runs,Total Ball Faced,Matches_played,Number_Times_Out,Scoring AVG,STRIKE_RATE
14,Babar Azam,3426,2755,97,84,40.79,124.36

In [314]:
import numpy as np
np.isinf(PAK_Batsman_Stats_df["Scoring AVG"])

0     False
1      True
2     False
3     False
4     False
      ...
89     True
90    False
91     True
92     True
93    False
Name: Scoring AVG, Length: 94, dtype: bool

In [315]:
# fill Total runs's column value in Scoring AVG where Scoring AVG in infinite
PAK_Batsman_Stats_df["Scoring AVG"] = PAK_Batsman_Stats_df["Scoring AVG"].replace(np.inf, 0)
PAK_Batsman_Stats_df

,Batter,Total Runs,Total Ball Faced,Matches_played,Number_Times_Out,Scoring AVG,STRIKE_RATE
0,Aamer Jamal,10,7,1,1,10.00,142.86
1,Aamer Yamin,15,6,1,0,0.00,250.00
2,Abdul Razzaq,381,337,27,18,21.17,113.06
3,Abdullah Shafique,64,55,6,5,12.80,116.36
4,Abdur Rehman,18,24,4,2,9.00,75.00
...,...,...,...,...,...,...,...
89,Yasir Shah,11,7,1,0,0.00,157.14
90,Younis Khan,426,339,20,17,25.06,125.66
91,Zaman Khan,8,10,2,0,0.00,80.00
92,Zulfiqar Babar,27,28,3,0,0.00,96.43
93,Zulqarnain Haider,26,35,5,4,6.50,74.29

In [316]:
# Replace Scoring Avg with Total Runs where Scoring Avg is 0
PAK_Batsman_Stats_df.loc[PAK_Batsman_Stats_df['Scoring AVG'] == 0, 'Scoring AVG'] = PAK_Batsman_Stats_df['Total Runs']
PAK_Batsman_Stats_df

,Batter,Total Runs,Total Ball Faced,Matches_played,Number_Times_Out,Scoring AVG,STRIKE_RATE
0,Aamer Jamal,10,7,1,1,10.00,142.86
1,Aamer Yamin,15,6,1,0,15.00,250.00
2,Abdul Razzaq,381,337,27,18,21.17,113.06
3,Abdullah Shafique,64,55,6,5,12.80,116.36
4,Abdur Rehman,18,24,4,2,9.00,75.00
...,...,...,...,...,...,...,...
89,Yasir Shah,11,7,1,0,11.00,157.14
90,Younis Khan,426,339,20,17,25.06,125.66
91,Zaman Khan,8,10,2,0,8.00,80.00
92,Zulfiqar Babar,27,28,3,0,27.00,96.43
93,Zulqarnain Haider,26,35,5,4,6.50,74.29

### Match Perfomnces Of all Pakistan's Batsmans

In [317]:
df

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
0,0,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,1,BA King,...,South Africa,1,1,0,1,0,NaN,NaN,1,1
1,1,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,2,KR Mayers,...,South Africa,1,1,1,1,1,NaN,NaN,1,1
2,2,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,3,BA King,...,South Africa,1,0,1,0,1,1.0,2.0,0,1
3,3,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,4,J Charles,...,South Africa,1,0,1,1,1,NaN,NaN,0,1
4,4,1339605,2023-03-26,SuperSport Park,West Indies,South Africa,1,1,5,J Charles,...,South Africa,1,4,1,2,1,NaN,NaN,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425114,425114,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,2,TK Curran,...,New Zealand,0,11,2,9,2,NaN,NaN,0,1
425115,425115,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,3,TK Curran,...,New Zealand,0,12,2,10,2,NaN,NaN,1,1
425116,425116,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,4,S Mahmood,...,New Zealand,0,2,12,3,10,NaN,NaN,0,1
425117,425117,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,5,S Mahmood,...,New Zealand,0,3,12,4,10,NaN,NaN,1,1
425118,425118,1187667,2019-11-05,Saxton Oval,New Zealand,England,2,20,6,TK Curran,...,New Zealand,0,14,3,11,4,NaN,NaN,2,1

### Considering Pakistan Matches Only

In [318]:
pakistan_matches_df = df[(df['Bat First'] == 'Pakistan') | (df['Bat Second'] == 'Pakistan')]
pakistan_matches_df.to_csv("pakistan_matches.csv")
pakistan_matches_df

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
2482,2482,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,1,Tamim Iqbal,...,Pakistan,1,1,0,1,0,NaN,NaN,1,1
2483,2483,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,2,Mohammad Ashraful,...,Pakistan,1,0,1,1,1,NaN,NaN,0,1
2484,2484,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,3,Mohammad Ashraful,...,Pakistan,1,0,1,2,1,NaN,NaN,0,1
2485,2485,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,4,Mohammad Ashraful,...,Pakistan,1,4,1,3,1,NaN,NaN,4,1
2486,2486,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,5,Mohammad Ashraful,...,Pakistan,1,6,1,4,1,NaN,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424655,424655,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,SB Styris,...,Pakistan,0,42,3,32,2,NaN,NaN,1,1
424656,424656,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,JEC Franklin,...,Pakistan,0,4,42,3,32,NaN,NaN,1,1
424657,424657,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,SB Styris,...,Pakistan,0,43,4,33,3,NaN,NaN,1,1
424658,424658,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,JEC Franklin,...,Pakistan,0,5,43,4,33,NaN,NaN,1,1
424659,424659,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,SB Styris,...,Pakistan,0,0,5,0,4,43.0,34.0,0,1

In [319]:
pakistan_matches_df["Player Out"]

2482            NaN
2483            NaN
2484            NaN
2485            NaN
2486            NaN
            ...
424655          NaN
424656          NaN
424657          NaN
424658          NaN
424659    SB Styris
Name: Player Out, Length: 49565, dtype: object

In [320]:
pakistan_matches_df.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [321]:
print(pakistan_matches_df)

        Unnamed: 0  Match ID       Date  \
2482          2482    533283 2012-09-25
2483          2483    533283 2012-09-25
2484          2484    533283 2012-09-25
2485          2485    533283 2012-09-25
2486          2486    533283 2012-09-25
...            ...       ...        ...
424655      424655    426724 2009-11-13
424656      424656    426724 2009-11-13
424657      424657    426724 2009-11-13
424658      424658    426724 2009-11-13
424659      424659    426724 2009-11-13

                                          Venue   Bat First   Bat Second  \
2482    Pallekele International Cricket Stadium  Bangladesh     Pakistan
2483    Pallekele International Cricket Stadium  Bangladesh     Pakistan
2484    Pallekele International Cricket Stadium  Bangladesh     Pakistan
2485    Pallekele International Cricket Stadium  Bangladesh     Pakistan
2486    Pallekele International Cricket Stadium  Bangladesh     Pakistan
...                                         ...         ...          ...
424655      Dubai International Cricket Stadium    Pakistan  New Zealand
424656      Dubai International Cricket Stadium    Pakistan  New Zealand
424657      Dubai International Cricket Stadium    Pakistan  New Zealand
424658      Dubai International Cricket Stadium    Pakistan  New Zealand
424659      Dubai International Cricket Stadium    Pakistan  New Zealand

        Innings  Over  Ball             Batter  ...    Winner  \
2482          1     1     1        Tamim Iqbal  ...  Pakistan
2483          1     1     2  Mohammad Ashraful  ...  Pakistan
2484          1     1     3  Mohammad Ashraful  ...  Pakistan
2485          1     1     4  Mohammad Ashraful  ...  Pakistan
2486          1     1     5  Mohammad Ashraful  ...  Pakistan
...         ...   ...   ...                ...  ...       ...
424655        2    20     2          SB Styris  ...  Pakistan
424656        2    20     3       JEC Franklin  ...  Pakistan
424657        2    20     4          SB Styris  ...  Pakistan
424658        2    20     5       JEC Franklin  ...  Pakistan
424659        2    20     6          SB Styris  ...  Pakistan

       Chased Successfully  Total Batter Runs  Total Non Striker Runs  \
2482                     1                  1                       0
2483                     1                  0                       1
2484                     1                  0                       1
2485                     1                  4                       1
2486                     1                  6                       1
...                    ...                ...                     ...
424655                   0                 42                       3
424656                   0                  4                      42
424657                   0                 43                       4
424658                   0                  5                      43
424659                   0                  0                       5

        Batter Balls Faced  Non Striker Balls Faced Player Out Runs  \
2482                     1                        0             NaN
2483                     1                        1             NaN
2484                     2                        1             NaN
2485                     3                        1             NaN
2486                     4                        1             NaN
...                    ...                      ...             ...
424655                  32                        2             NaN
424656                   3                       32             NaN
424657                  33                        3             NaN
424658                   4                       33             NaN
424659                   0                        4            43.0

        Player Out Balls Faced Bowler Runs Conceded Valid Ball
2482                       NaN                    1          1
2483                       NaN                    0          1
2484                       NaN                    0          1
2485                       NaN                    4          1
2486                       NaN                    2          1
...                        ...                  ...        ...
424655                     NaN                    1          1
424656                     NaN                    1          1
424657                     NaN                    1          1
424658                     NaN                    1          1
424659                    34.0                    0          1

[49565 rows x 35 columns]

#### Making DF for Batsman First

In [322]:
batsman_runs_df = pd.DataFrame(columns=['Match ID','Date', 'Venue', 'Winner', 'Batsman', 'Runs Scored', 'Balls Faced', 'Opponent Team'])

# Group the original DataFrame by 'Match ID' and 'Batter'
grouped_data = pakistan_matches_df.groupby(['Match ID', 'Batter'])

# Iterate through each group
for (match_id, batsman), group_data in grouped_data:
    total_runs = group_data['Batter Runs'].sum()
    
    # Count only valid balls (where 'Valid Ball' column is 1)
    valid_balls = group_data['Valid Ball'] == 1
    total_balls_faced = valid_balls.sum()
    
    inning = group_data['Innings'].iloc[0]
    team_batsman_belongs_to = group_data['Bat First'].iloc[0] if inning == 1 else group_data['Bat Second'].iloc[0]
    
    # Determine the opponent team based on the inning
    opponent_team = group_data['Bat Second'].iloc[0] if inning == 1 else group_data['Bat First'].iloc[0]

    # Get additional match details
    match_details = df[df['Match ID'] == match_id].iloc[0]
    date = match_details['Date']
    venue = match_details['Venue']
    winner = match_details['Winner']

    # Append data to the new DataFrame
    batsman_runs_df = pd.concat([batsman_runs_df, pd.DataFrame({
        'Match ID' : [match_id],
        'Date': [date],
        'Venue': [venue],
        'Winner': [winner],
        'Batsman': [batsman],
        'Runs Scored': [total_runs],
        'Balls Faced': [total_balls_faced],
        'Opponent Team': [opponent_team]
    })], ignore_index=True)

# Display the resulting DataFrame
    
# Display the resulting DataFrame
batsman_runs_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
0,225263,2006-08-28,County Ground,Pakistan,AJ Strauss,0,2,Pakistan
1,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England
2,225263,2006-08-28,County Ground,Pakistan,CMW Read,13,11,Pakistan
3,225263,2006-08-28,County Ground,Pakistan,IR Bell,14,17,Pakistan
4,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England
...,...,...,...,...,...,...,...,...
3311,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan
3312,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Sediqullah Atal,11,19,Pakistan
3313,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan
3314,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan
3315,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Usman Ghani,15,17,Pakistan

In [323]:
# matches of Babar Azam
batsman_runs_df[batsman_runs_df["Batsman"] == "Babar Azam"]

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
1398,913663,2016-09-07,Old Trafford,Pakistan,Babar Azam,15,11,England
1606,1050217,2016-09-23,Dubai International Cricket Stadium,Pakistan,Babar Azam,55,36,West Indies
1620,1050219,2016-09-24,Dubai International Cricket Stadium,Pakistan,Babar Azam,19,18,West Indies
1636,1050221,2016-09-27,Sheikh Zayed Stadium,Pakistan,Babar Azam,27,24,West Indies
1647,1077947,2017-03-26,Kensington Oval,Pakistan,Babar Azam,29,29,West Indies
...,...,...,...,...,...,...,...,...
3181,1327281,2022-09-11,Dubai International Cricket Stadium,Sri Lanka,Babar Azam,5,6,Sri Lanka
3200,1339614,2023-04-14,Gaddafi Stadium,Pakistan,Babar Azam,9,7,New Zealand
3220,1339615,2023-04-15,Gaddafi Stadium,Pakistan,Babar Azam,101,58,New Zealand
3235,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Babar Azam,1,6,New Zealand
3253,1339618,2023-04-24,Rawalpindi Cricket Stadium,New Zealand,Babar Azam,19,18,New Zealand

In [324]:
# drop those Batsman whose opponent team is Pakistan
batsman_runs_df = batsman_runs_df[~batsman_runs_df['Opponent Team'].isin(['Pakistan'])]
batsman_runs_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
1,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England
4,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England
9,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England
10,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England
13,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England
...,...,...,...,...,...,...,...,...
3305,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan
3306,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan
3311,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan
3313,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan
3314,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan

In [325]:
batsman_runs_df[batsman_runs_df["Date"]=="2006-08-28"]

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
1,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England
4,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England
9,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England
10,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England
13,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England
14,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England
15,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England

In [326]:
batsman_runs_df[batsman_runs_df['Batsman']=='Babar Azam'].sort_values(by="Date")

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
1398,913663,2016-09-07,Old Trafford,Pakistan,Babar Azam,15,11,England
1606,1050217,2016-09-23,Dubai International Cricket Stadium,Pakistan,Babar Azam,55,36,West Indies
1620,1050219,2016-09-24,Dubai International Cricket Stadium,Pakistan,Babar Azam,19,18,West Indies
1636,1050221,2016-09-27,Sheikh Zayed Stadium,Pakistan,Babar Azam,27,24,West Indies
1647,1077947,2017-03-26,Kensington Oval,Pakistan,Babar Azam,29,29,West Indies
...,...,...,...,...,...,...,...,...
2905,1298179,2022-11-13,Melbourne Cricket Ground,England,Babar Azam,32,28,England
3200,1339614,2023-04-14,Gaddafi Stadium,Pakistan,Babar Azam,9,7,New Zealand
3220,1339615,2023-04-15,Gaddafi Stadium,Pakistan,Babar Azam,101,58,New Zealand
3235,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Babar Azam,1,6,New Zealand
3253,1339618,2023-04-24,Rawalpindi Cricket Stadium,New Zealand,Babar Azam,19,18,New Zealand

In [327]:
batsman_runs_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team
1,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England
4,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England
9,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England
10,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England
13,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England
...,...,...,...,...,...,...,...,...
3305,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan
3306,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan
3311,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan
3313,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan
3314,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan

#### Calculating batting positions of Batsman in each match

In [328]:
import pandas as pd

# Assuming 'pakistan_matches_df' is your dataframe with the mentioned columns.

# Initialize a dictionary to hold batting positions for each match.
batting_positions = {}

# Iterate over the DataFrame sorted by 'Match ID', 'Innings', and delivery ('Over' and 'Ball').
for idx, delivery in pakistan_matches_df.sort_values(by=['Match ID', 'Innings', 'Over', 'Ball']).iterrows():
    match_id = delivery['Match ID']
    innings = delivery['Innings']
    batsman = delivery['Batter']
    non_striker = delivery['Non Striker']
    player_out = delivery['Wicket']
    
    # Initialize the match and innings in the dictionary if not present.
    if (match_id, innings) not in batting_positions:
        batting_positions[(match_id, innings)] = {'batsmen': [], 'positions': {}}
    
    # For the first two batsmen.
    if not batting_positions[(match_id, innings)]['batsmen']:
        batting_positions[(match_id, innings)]['batsmen'].extend([batsman, non_striker])
        batting_positions[(match_id, innings)]['positions'][batsman] = 1
        batting_positions[(match_id, innings)]['positions'][non_striker] = 2
    
    # If a wicket falls, assign the next position to the new batsman.
    if player_out == 1:
        player_dismissed = delivery['Batter'] if delivery['Batter'] == delivery['Player Out'] else delivery['Non Striker']
        # Find the new batsman who is not in the existing 'batsmen' list.
        new_batsman = batsman if batsman not in batting_positions[(match_id, innings)]['batsmen'] else non_striker
        next_position = len(batting_positions[(match_id, innings)]['batsmen']) + 1
        batting_positions[(match_id, innings)]['batsmen'].append(new_batsman)
        batting_positions[(match_id, innings)]['positions'][new_batsman] = next_position

# Convert the dictionary to a DataFrame for easy manipulation and viewing.
batting_positions_df = pd.DataFrame([(match_id, innings, batsman, position) 
                                     for (match_id, innings), data in batting_positions.items() 
                                     for batsman, position in data['positions'].items()],
                                    columns=['Match ID', 'Innings', 'Batsman', 'Batting Position'])

# Merging the batting position data with the original batsman_runs_df to include batting positions.
batsman_runs_with_positions_df = batsman_runs_df.merge(batting_positions_df, on=['Match ID', 'Batsman'], how='left')

# Display the DataFrame with batting positions.
batsman_runs_with_positions_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
0,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England,NaN,NaN
1,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England,2.0,7.0
2,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,3.0
3,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,6.0
4,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,9.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,NaN,NaN
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan,1.0,3.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,8.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan,1.0,4.0

In [329]:
# # itrate through rows in batsman_runs_df
# batting_position_df = pd.DataFrame(columns=['Match ID','Date','Venue','Winner','Batsman','Batting Position', 'Runs Scored', 'Balls Faced', 'Opponent Team'])
# buffer_matchID = 0
# batting_position = 0
# for index, row in batsman_runs_df.iterrows():
    
#     if row['Match ID'] != buffer_matchID:
#         batting_position = 0
#         buffer_matchID = row['Match ID']
    
#     # get the batting position
#     batting_position +=1
    
#     # get the match id
#     match_id = row['Match ID']
#     # get the date
#     date = row['Date']
#     # get the venue
#     venue = row['Venue']
#     # get the winner
#     winner = row['Winner']
#     # get the batsman
#     batsman = row['Batsman']
     
#     # get the runs scored
#     runs_scored = row['Runs Scored']
#     # get the balls faced
#     balls_faced = row['Balls Faced']
#     # get the opponent team
#     opponent_team = row['Opponent Team']
    
#     # append the data to the new DataFrame
#     batting_position_df = pd.concat([batting_position_df, pd.DataFrame({
#         'Match ID' : [match_id],
#         'Date': [date],
#         'Venue': [venue],
#         'Winner': [winner],
#         'Batsman': [batsman],
#         'Batting Position': [batting_position],
#         'Runs Scored': [runs_scored],
#         'Balls Faced': [balls_faced],
#         'Opponent Team': [opponent_team]
#     })], ignore_index=True)

# batting_position_df

In [330]:
batsman_runs_with_positions_df[batsman_runs_with_positions_df['Date']=='2023-03-27'].sort_values(by="Batting Position")

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
1598,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Haris,1,3,Afghanistan,1.0,1.0
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan,1.0,3.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan,1.0,4.0
1595,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Abdullah Shafique,23,13,Afghanistan,1.0,5.0
1596,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,6.0
1597,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,7.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,8.0
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,9.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,NaN,NaN

In [331]:
def fix_batting_order(batting_position):
    if batting_position == 1:
        return batting_position
    elif batting_position > 1:
        return batting_position-1

In [332]:
batsman_runs_with_positions_df['Batting Position'] = batsman_runs_with_positions_df.apply(lambda row: fix_batting_order(row["Batting Position"]), axis=1)
batsman_runs_with_positions_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
0,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,17,7,England,NaN,NaN
1,225263,2006-08-28,County Ground,Pakistan,Inzamam-ul-Haq,11,15,England,2.0,6.0
2,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0
3,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,5.0
4,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,NaN,NaN
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan,1.0,2.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan,1.0,3.0

In [333]:
batsman_runs_with_positions_df[batsman_runs_with_positions_df['Date']=='2023-03-27'].sort_values(by="Batting Position")

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
1598,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Haris,1,3,Afghanistan,1.0,1.0
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,49,40,Afghanistan,1.0,2.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,10,9,Afghanistan,1.0,3.0
1595,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Abdullah Shafique,23,13,Afghanistan,1.0,4.0
1596,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,5.0
1597,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,6.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,NaN,NaN

In [334]:
batsman_runs_with_positions_df[batsman_runs_with_positions_df['Batsman']=='Mohammad Hafeez']

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
2,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0
10,287855,2007-09-12,Kingsmead,Pakistan,Mohammad Hafeez,18,11,Scotland,1.0,3.0
19,287868,2007-09-17,New Wanderers Stadium,Pakistan,Mohammad Hafeez,10,11,Sri Lanka,1.0,3.0
26,287870,2007-09-18,New Wanderers Stadium,Pakistan,Mohammad Hafeez,15,11,Australia,2.0,2.0
33,287875,2007-09-20,Newlands,Pakistan,Mohammad Hafeez,23,20,Bangladesh,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...
1270,1273730,2021-10-26,Sharjah Cricket Stadium,Pakistan,Mohammad Hafeez,11,6,New Zealand,2.0,4.0
1276,1273735,2021-10-29,Dubai International Cricket Stadium,Pakistan,Mohammad Hafeez,10,10,Afghanistan,2.0,4.0
1282,1273742,2021-11-02,Zayed Cricket Stadium,Pakistan,Mohammad Hafeez,32,16,Namibia,NaN,NaN
1287,1273752,2021-11-07,Sharjah Cricket Stadium,Pakistan,Mohammad Hafeez,31,19,Scotland,1.0,4.0
1293,1273755,2021-11-11,Dubai International Cricket Stadium,Australia,Mohammad Hafeez,1,1,Australia,NaN,NaN

##### Now we have to deal Null Value in batting position, we know that if the value is null then the batting position is Last

In [335]:
batsman_runs_with_positions_df.columns

Index(['Match ID', 'Date', 'Venue', 'Winner', 'Batsman', 'Runs Scored',
       'Balls Faced', 'Opponent Team', 'Innings', 'Batting Position'],
      dtype='object')

In [336]:
# Sort the dataframe based on 'Match ID' and 'Batting Position'
batsman_runs_with_positions_df.sort_values(['Match ID', 'Batting Position'], inplace=True)

# Group by 'Match ID' and get the maximum 'Batting Position' for each match
max_positions = batsman_runs_with_positions_df.groupby('Match ID')['Batting Position'].max().reset_index()

# Merge the original dataframe with the maximum positions dataframe
batsman_runs_with_positions_df = pd.merge(batsman_runs_with_positions_df, max_positions, on='Match ID', suffixes=('', '_max'))

# Fill missing values in 'Batting Position' with the max position + 1
batsman_runs_with_positions_df['Batting Position'].fillna(batsman_runs_with_positions_df['Batting Position_max'] + 1, inplace=True)

# Drop the auxiliary column 'Batting Position_max'
batsman_runs_with_positions_df.drop('Batting Position_max', axis=1, inplace=True)

batsman_runs_with_positions_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England,2.0,1.0
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England,2.0,3.0
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,4.0
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,5.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,6.0
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,NaN,9.0

##### Fixing Null value for Innings

In [337]:
# Sort the dataframe based on 'Match ID' and 'Batting Position'
batsman_runs_with_positions_df.sort_values(['Match ID', 'Batting Position'], inplace=True)

# Group by 'Match ID' and get the maximum 'Batting Position' and any non-null 'Innings' for each match
max_positions_innings = batsman_runs_with_positions_df.groupby('Match ID').agg({'Batting Position': 'max', 'Innings': 'first'}).reset_index()

# Merge the original dataframe with the maximum positions and innings dataframe
batsman_runs_with_positions_df = pd.merge(batsman_runs_with_positions_df, max_positions_innings, on='Match ID', suffixes=('', '_max'))

# Fill missing values in 'Batting Position' with the max position + 1
batsman_runs_with_positions_df['Batting Position'].fillna(batsman_runs_with_positions_df['Batting Position_max'] + 1, inplace=True)

# Fill missing values in 'Innings' with the innings value of any non-null entry
batsman_runs_with_positions_df['Innings'].fillna(batsman_runs_with_positions_df['Innings_max'], inplace=True)

# Drop the auxiliary columns 'Batting Position_max' and 'Innings_max'
batsman_runs_with_positions_df.drop(['Batting Position_max', 'Innings_max'], axis=1, inplace=True)
batsman_runs_with_positions_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England,2.0,1.0
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England,2.0,3.0
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,4.0
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,5.0
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,6.0
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,1.0,9.0

In [338]:
PAK_Batsman_Matches_df = batsman_runs_with_positions_df

In [339]:
# funtion to calculate strike rate
def calculate_strike_rate(runs_scored, balls_faced):
    if balls_faced == 0:
        return 0
    else:
        return round(runs_scored / balls_faced * 100, 2)

In [340]:
PAK_Batsman_Matches_df["Strike Rate"] = PAK_Batsman_Matches_df.apply(lambda row: calculate_strike_rate(row["Runs Scored"], row["Balls Faced"]), axis=1)
PAK_Batsman_Matches_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position,Strike Rate
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England,2.0,1.0,100.00
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0,115.00
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England,2.0,3.0,0.00
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,4.0,311.11
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,5.0,105.26
...,...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,5.0,124.00
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,6.0,185.71
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0,175.00
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0,166.67
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,1.0,9.0,225.00

In [341]:
PAK_Batsman_Matches_df[PAK_Batsman_Matches_df['Date'] == '2023-04-17']

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position,Strike Rate
1559,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Babar Azam,1,6,New Zealand,2.0,1.0,16.67
1560,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Mohammad Rizwan,6,10,New Zealand,2.0,2.0,60.00
1561,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Fakhar Zaman,17,21,New Zealand,2.0,3.0,80.95
1562,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Saim Ayub,10,10,New Zealand,2.0,4.0,100.00
1563,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Shadab Khan,16,19,New Zealand,2.0,5.0,84.21
1564,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Imad Wasim,3,5,New Zealand,2.0,6.0,60.00
1565,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Shaheen Shah Afridi,6,6,New Zealand,2.0,7.0,100.00
1566,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Iftikhar Ahmed,60,24,New Zealand,2.0,8.0,250.00
1567,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Faheem Ashraf,27,14,New Zealand,2.0,9.0,192.86
1568,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Naseem Shah,0,3,New Zealand,2.0,10.0,0.00
1569,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Haris Rauf,0,2,New Zealand,2.0,11.0,0.00

In [342]:
PAK_Batsman_Matches_df[PAK_Batsman_Matches_df['Batsman']=='Babar Azam']

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position,Strike Rate
688,913663,2016-09-07,Old Trafford,Pakistan,Babar Azam,15,11,England,2.0,3.0,136.36
794,1050217,2016-09-23,Dubai International Cricket Stadium,Pakistan,Babar Azam,55,36,West Indies,2.0,3.0,152.78
797,1050219,2016-09-24,Dubai International Cricket Stadium,Pakistan,Babar Azam,19,18,West Indies,1.0,3.0,105.56
803,1050221,2016-09-27,Sheikh Zayed Stadium,Pakistan,Babar Azam,27,24,West Indies,2.0,3.0,112.50
807,1077947,2017-03-26,Kensington Oval,Pakistan,Babar Azam,29,29,West Indies,2.0,3.0,100.00
...,...,...,...,...,...,...,...,...,...,...,...
1531,1327281,2022-09-11,Dubai International Cricket Stadium,Sri Lanka,Babar Azam,5,6,Sri Lanka,2.0,1.0,83.33
1543,1339614,2023-04-14,Gaddafi Stadium,Pakistan,Babar Azam,9,7,New Zealand,1.0,2.0,128.57
1554,1339615,2023-04-15,Gaddafi Stadium,Pakistan,Babar Azam,101,58,New Zealand,1.0,2.0,174.14
1559,1339616,2023-04-17,Gaddafi Stadium,New Zealand,Babar Azam,1,6,New Zealand,2.0,1.0,16.67
1570,1339618,2023-04-24,Rawalpindi Cricket Stadium,New Zealand,Babar Azam,19,18,New Zealand,1.0,1.0,105.56

Now we will prepare OF Batsman DF for Association rule mining

In [343]:
Final_PAK_Batsman_Matches_df = PAK_Batsman_Matches_df
Final_PAK_Batsman_Matches_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position,Strike Rate
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England,2.0,1.0,100.00
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2.0,2.0,115.00
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England,2.0,3.0,0.00
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2.0,4.0,311.11
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2.0,5.0,105.26
...,...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1.0,5.0,124.00
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1.0,6.0,185.71
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1.0,7.0,175.00
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1.0,8.0,166.67
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,1.0,9.0,225.00

In [344]:
# calculate avg ball faced by all batsmans
avg_balls_faced = PAK_Batsman_Matches_df["Balls Faced"].mean()
avg_balls_faced

15.036783042394015

In [345]:
def runs_scored_inrange(runs_scored):
    if runs_scored < 25:
        return "Runs < 25"
    elif runs_scored >= 25 and runs_scored < 50:
        return "Runs >= 25 and < 50"
    elif runs_scored >= 50:
        return "Runs >= 50"

def StrikeRate_inrange(strike_rate):
    if strike_rate < 90:
        return "S/R < 90"
    elif strike_rate >= 90 and strike_rate < 120:
        return "S/R >= 90 and < 120"
    elif strike_rate >= 120:
        return "S/R >= 120"

def balls_faced_inrange(balls_faced):
    if balls_faced < 20:
        return "B/F < 20"
    elif balls_faced >= 20 and balls_faced < 40:
        return "B/F >= 20 and <= 40"
    elif balls_faced >= 40:
        return "B/F >= 40"
def calculate_innings(innings):
    if innings == 1:
        return "1st Inning"
    else:
        return "2nd Inning"

def calculate_batting_position(batting_position):
    if batting_position <= 3:
        return "Top Order"
    elif batting_position > 3 and batting_position <= 6:
        return "Middle Order"
    elif batting_position > 6:
        return "Low Order"

In [346]:
Final_PAK_Batsman_Matches_df["Runs Scored Range"] = Final_PAK_Batsman_Matches_df.apply(lambda row: runs_scored_inrange(row["Runs Scored"]), axis=1)
Final_PAK_Batsman_Matches_df["Strike Rate Range"] = Final_PAK_Batsman_Matches_df.apply(lambda row: StrikeRate_inrange(row["Strike Rate"]), axis=1)
Final_PAK_Batsman_Matches_df["Balls Faced Range"] = Final_PAK_Batsman_Matches_df.apply(lambda row: balls_faced_inrange(row["Balls Faced"]), axis=1)
Final_PAK_Batsman_Matches_df["Batting Order"] = Final_PAK_Batsman_Matches_df.apply(lambda row: calculate_batting_position(row["Batting Position"]), axis=1)
Final_PAK_Batsman_Matches_df["Innings"] = Final_PAK_Batsman_Matches_df.apply(lambda row: calculate_innings(row["Innings"]), axis=1)
Final_PAK_Batsman_Matches_df

,Match ID,Date,Venue,Winner,Batsman,Runs Scored,Balls Faced,Opponent Team,Innings,Batting Position,Strike Rate,Runs Scored Range,Strike Rate Range,Balls Faced Range,Batting Order
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,16,16,England,2nd Inning,1.0,100.00,Runs < 25,S/R >= 90 and < 120,B/F < 20,Top Order
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,46,40,England,2nd Inning,2.0,115.00,Runs >= 25 and < 50,S/R >= 90 and < 120,B/F >= 40,Top Order
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,0,1,England,2nd Inning,3.0,0.00,Runs < 25,S/R < 90,B/F < 20,Top Order
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,28,9,England,2nd Inning,4.0,311.11,Runs >= 25 and < 50,S/R >= 120,B/F < 20,Middle Order
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,20,19,England,2nd Inning,5.0,105.26,Runs < 25,S/R >= 90 and < 120,B/F < 20,Middle Order
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,31,25,Afghanistan,1st Inning,5.0,124.00,Runs >= 25 and < 50,S/R >= 120,B/F >= 20 and <= 40,Middle Order
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,13,7,Afghanistan,1st Inning,6.0,185.71,Runs < 25,S/R >= 120,B/F < 20,Middle Order
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,28,16,Afghanistan,1st Inning,7.0,175.00,Runs >= 25 and < 50,S/R >= 120,B/F < 20,Low Order
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,5,3,Afghanistan,1st Inning,8.0,166.67,Runs < 25,S/R >= 120,B/F < 20,Low Order
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,9,4,Afghanistan,1st Inning,9.0,225.00,Runs < 25,S/R >= 120,B/F < 20,Low Order

In [347]:
Final_PAK_Batsman_Matches_df.drop(columns=["Runs Scored", "Strike Rate", "Balls Faced", "Batting Position"], inplace=True)
Final_PAK_Batsman_Matches_df

,Match ID,Date,Venue,Winner,Batsman,Opponent Team,Innings,Runs Scored Range,Strike Rate Range,Balls Faced Range,Batting Order
0,225263,2006-08-28,County Ground,Pakistan,Shoaib Malik,England,2nd Inning,Runs < 25,S/R >= 90 and < 120,B/F < 20,Top Order
1,225263,2006-08-28,County Ground,Pakistan,Mohammad Hafeez,England,2nd Inning,Runs >= 25 and < 50,S/R >= 90 and < 120,B/F >= 40,Top Order
2,225263,2006-08-28,County Ground,Pakistan,Younis Khan,England,2nd Inning,Runs < 25,S/R < 90,B/F < 20,Top Order
3,225263,2006-08-28,County Ground,Pakistan,Shahid Afridi,England,2nd Inning,Runs >= 25 and < 50,S/R >= 120,B/F < 20,Middle Order
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Yousuf,England,2nd Inning,Runs < 25,S/R >= 90 and < 120,B/F < 20,Middle Order
...,...,...,...,...,...,...,...,...,...,...,...
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,Afghanistan,1st Inning,Runs >= 25 and < 50,S/R >= 120,B/F >= 20 and <= 40,Middle Order
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Middle Order
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,Afghanistan,1st Inning,Runs >= 25 and < 50,S/R >= 120,B/F < 20,Low Order
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Low Order
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Low Order

In [348]:
Final_PAK_Batsman_Matches_df[Final_PAK_Batsman_Matches_df['Match ID']==1362817].sort_values(by="Date")

,Match ID,Date,Venue,Winner,Batsman,Opponent Team,Innings,Runs Scored Range,Strike Rate Range,Balls Faced Range,Batting Order
1595,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Haris,Afghanistan,1st Inning,Runs < 25,S/R < 90,B/F < 20,Top Order
1596,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Saim Ayub,Afghanistan,1st Inning,Runs >= 25 and < 50,S/R >= 120,B/F >= 40,Top Order
1597,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Tayyab Tahir,Afghanistan,1st Inning,Runs < 25,S/R >= 90 and < 120,B/F < 20,Top Order
1598,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Abdullah Shafique,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Middle Order
1599,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Iftikhar Ahmed,Afghanistan,1st Inning,Runs >= 25 and < 50,S/R >= 120,B/F >= 20 and <= 40,Middle Order
1600,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Middle Order
1601,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,Afghanistan,1st Inning,Runs >= 25 and < 50,S/R >= 120,B/F < 20,Low Order
1602,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Low Order
1603,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,Afghanistan,1st Inning,Runs < 25,S/R >= 120,B/F < 20,Low Order

In [349]:
Final_PAK_Batsman_Matches_df.isnull().sum()

Match ID             0
Date                 0
Venue                0
Winner               0
Batsman              0
Opponent Team        0
Innings              0
Runs Scored Range    0
Strike Rate Range    0
Balls Faced Range    0
Batting Order        0
dtype: int64

In [395]:
# match count with respect to ground
Final_PAK_Batsman_Matches_df.groupby("Venue")["Match ID"].count().sort_values(ascending=False)

Venue
Dubai International Cricket Stadium                248
Gaddafi Stadium                                    171
Harare Sports Club                                  99
Shere Bangla National Stadium                       72
Sheikh Zayed Stadium                                72
National Stadium                                    70
R Premadasa Stadium                                 62
Sharjah Cricket Stadium                             60
Beausejour Stadium                                  42
Eden Park                                           38
Hagley Oval                                         34
SuperSport Park                                     31
Melbourne Cricket Ground                            31
New Wanderers Stadium                               29
Newlands                                            29
Seddon Park                                         26
Queen's Park Oval                                   26
The Wanderers Stadium                               26
Perth Stadium                                       25
Kensington Oval                                     24
Sophia Gardens                                      24
Kennington Oval                                     22
Old Trafford                                        22
Rawalpindi Cricket Stadium                          21
Westpac Stadium                                     21
Edgbaston                                           20
Lord's                                              20
Mahinda Rajapaksa International Cricket Stadium     18
Maple Leaf North-West Ground                        18
Arnos Vale Ground                                   18
Punjab Cricket Association IS Bindra Stadium        17
Sydney Cricket Ground                               14
Grange Cricket Club                                 14
Trent Bridge                                        13
Gymkhana Club Ground                                13
Eden Gardens                                        13
Pallekele International Cricket Stadium             11
Headingley                                          11
Providence Stadium                                   9
Kingsmead                                            9
Sardar Patel Stadium                                 8
Bay Oval                                             8
AMI Stadium                                          7
McLean Park                                          7
Manuka Oval                                          7
M Chinnaswamy Stadium                                7
County Ground                                        7
Adelaide Oval                                        6
Zayed Cricket Stadium                                4
Name: Match ID, dtype: int64

In [350]:
# pickle the current dataframe
Final_PAK_Batsman_Matches_df.to_pickle("Final_PAK_Batsman_Matches_df.pkl")

#### Making Data Frames For bowlers

In [383]:
pakistan_matches_df

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
2482,2482,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,1,Tamim Iqbal,...,Pakistan,1,1,0,1,0,NaN,NaN,1,1
2483,2483,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,2,Mohammad Ashraful,...,Pakistan,1,0,1,1,1,NaN,NaN,0,1
2484,2484,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,3,Mohammad Ashraful,...,Pakistan,1,0,1,2,1,NaN,NaN,0,1
2485,2485,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,4,Mohammad Ashraful,...,Pakistan,1,4,1,3,1,NaN,NaN,4,1
2486,2486,533283,2012-09-25,Pallekele International Cricket Stadium,Bangladesh,Pakistan,1,1,5,Mohammad Ashraful,...,Pakistan,1,6,1,4,1,NaN,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424655,424655,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,SB Styris,...,Pakistan,0,42,3,32,2,NaN,NaN,1,1
424656,424656,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,JEC Franklin,...,Pakistan,0,4,42,3,32,NaN,NaN,1,1
424657,424657,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,SB Styris,...,Pakistan,0,43,4,33,3,NaN,NaN,1,1
424658,424658,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,JEC Franklin,...,Pakistan,0,5,43,4,33,NaN,NaN,1,1
424659,424659,426724,2009-11-13,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,SB Styris,...,Pakistan,0,0,5,0,4,43.0,34.0,0,1

In [384]:
pakistan_matches_df.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [385]:
bowler_stats_df = pd.DataFrame(columns=['Match ID','Date', 'Venue', 'Winner', 'Bowler', 'Runs Concided','Wickets', 'Economy','Ball Bowled', 'Opponent Team'])

# Group the original DataFrame by 'Match ID' and 'Bowler'
grouped_data = pakistan_matches_df.groupby(['Match ID', 'Bowler'])

# Iterate through each group
for (match_id, bowler), group_data in grouped_data:
    total_runs = group_data['Bowler Runs Conceded'].sum()
    
    valid_balls = group_data['Valid Ball']
    total_balls_bowled = valid_balls.count()
    
    inning = group_data['Innings'].iloc[0]
    team_bowler_belongs_to = group_data['Bat Second'].iloc[0] if inning == 1 else group_data['Bat First'].iloc[0]
    
    # Determine the opponent team based on the inning
    
    opponent_team = group_data['Bat First'].iloc[0] if inning == 1 else group_data['Bat Second'].iloc[0]
    Wickets = group_data['Wicket'].sum()
    # Get additional match details
    match_details = pakistan_matches_df[pakistan_matches_df['Match ID'] == match_id].iloc[0]
    date = match_details['Date']
    venue = match_details['Venue']
    winner = match_details['Winner']

    # Append data to the new DataFrame
    bowler_stats_df = pd.concat([bowler_stats_df, pd.DataFrame({
        'Match ID' : [match_id],
        'Date': [date],
        'Venue': [venue],
        'Winner': [winner],
        'Bowler': [bowler],
        'Runs Concided': [total_runs],
        'Wickets': [Wickets],
        'Ball Bowled': [total_balls_bowled],
        'Opponent Team': [opponent_team]
    })], ignore_index=True)

# Display the resulting DataFrame
bowler_stats_df

,Match ID,Date,Venue,Winner,Bowler,Runs Concided,Wickets,Economy,Ball Bowled,Opponent Team
0,225263,2006-08-28,County Ground,Pakistan,Abdul Razzaq,30,3,NaN,24,England
1,225263,2006-08-28,County Ground,Pakistan,D Gough,33,1,NaN,24,Pakistan
2,225263,2006-08-28,County Ground,Pakistan,JWM Dalrymple,10,1,NaN,14,Pakistan
3,225263,2006-08-28,County Ground,Pakistan,MH Yardy,20,1,NaN,19,Pakistan
4,225263,2006-08-28,County Ground,Pakistan,Mohammad Asif,21,2,NaN,24,England
...,...,...,...,...,...,...,...,...,...,...
2416,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,13,1,NaN,18,Afghanistan
2417,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mujeeb Ur Rahman,28,2,NaN,24,Pakistan
2418,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Rashid Khan,31,1,NaN,26,Pakistan
2419,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,13,3,NaN,25,Afghanistan
2420,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Zaman Khan,20,1,NaN,23,Afghanistan

In [386]:
def calculate_economy(balls, runs):
    if balls % 6 == 0:
        overs = balls // 6
        return round(runs / overs, 2) if overs > 0 else runs
    else:
        balls = balls - (balls % 6)
        overs = balls // 6
        return round(runs / overs, 2) if overs > 0 else runs

def calculate_over_bowled(balls):
    if balls % 6 == 0:
        overs = balls // 6
        return overs if overs > 0 else 1 
    else:
        balls = balls - (balls % 6)
        overs = balls // 6
        return overs if overs > 0 else 1

In [387]:
bowler_stats_df['Economy'] = bowler_stats_df.apply(lambda row: calculate_economy(row['Ball Bowled'], row['Runs Concided']), axis=1)
bowler_stats_df['Over Bowled'] = bowler_stats_df.apply(lambda row: calculate_over_bowled(row['Ball Bowled']), axis=1)

In [388]:
bowler_stats_df[bowler_stats_df['Date']=='2023-03-27'].sort_values(by="Opponent Team")

,Match ID,Date,Venue,Winner,Bowler,Runs Concided,Wickets,Economy,Ball Bowled,Opponent Team,Over Bowled
2411,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Ihsanullah,29,5,7.25,25,Afghanistan,4
2412,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Imad Wasim,25,1,8.33,19,Afghanistan,3
2415,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nawaz,11,0,11.00,6,Afghanistan,1
2416,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Wasim,13,1,4.33,18,Afghanistan,3
2419,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Shadab Khan,13,3,3.25,25,Afghanistan,4
2420,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Zaman Khan,20,1,6.67,23,Afghanistan,3
2409,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Fareed Ahmad,28,1,14.00,12,Pakistan,2
2410,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Fazalhaq Farooqi,25,1,6.25,24,Pakistan,4
2413,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Karim Janat,32,1,10.67,19,Pakistan,3
2414,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mohammad Nabi,32,1,10.67,20,Pakistan,3
2417,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Mujeeb Ur Rahman,28,2,7.00,24,Pakistan,4
2418,1362817,2023-03-27,Sharjah Cricket Stadium,Pakistan,Rashid Khan,31,1,7.75,26,Pakistan,4

In [ ]:
def Economy_range(Economy):
    if Economy <=6:
        return "0-6"
    elif Economy <=8:
        return "6-8"
    elif Economy <=10:
        return "8-10"
    else:
        return "10+"
def wicket_Range(wicket):
    if wicket <= 1:
        return "0-1"
    elif wicket <= 3:
        return "2-3"
    else:
        return "3+"